<div>
  {{$ctrl.title}}
</div>

  <form class="form-create" ng-submit="$ctrl.doLogin()">
        <h2 class="form-signin-heading">Create new wish </h2>
        <label for="inputLogin" class="sr-only">Title</label>
        <input ng-model="$ctrl.titleWish" type="text" id="inputTitle" class="form-control" placeholder="Title" required autofocus>
        <label  for="inputPassword" class="sr-only">Description</label>
        <input  ng-model="$ctrl.descriptionWish" type="text" id="inputDescription" class="form-control" placeholder="Description" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
